<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mount Stromlo and Siding Spring Observatories</title>
</head>
<body>
<div class="solar">
    <div class="grid">
        <h1>Observatory Location</h1>
        <div class="grid__row">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category__heading">
                        Category
                    </h3>

                    <ul class="category-list">
                        <li class="category-item category-item-active">
                            <a href="location1" class="category-item__link">Mount Stromlo & Siding Spring</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="location2" class="category-item__link">European Southern</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="location3" class="category-item__link">Cerro Tololo Inter-American</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="grid__column-10">
                <div class="solar-layout">
                    <div class="grid__row">

                        <div class="location_span">
                            <div class="location_map col-md-6">
                                <img src="https://www.space.fm/astronomy/images/content/1024px-Sphinx_Observatory_Jungfraujoch_03.jpg" alt="Solar System Introduction" width="100%">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3449.386390005497!2d-70.8085316851885!3d-30.168954644038894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96901ff0f9458523%3A0x36d8d4433e086395!2sAstronomical%20Observatory%20Cerro%20Tololo!5e0!3m2!1sen!2s!4v1647230166682!5m2!1sen!2s" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </div>
                            <div class="col-md-6 location_text">
                                <p>
                                    <b>Cerro Tololo Inter-American Observatory (CTIO)</b>, astronomical observatory founded in 1965 in Chile as the southern
                                    branch of the Kitt Peak National Observatory. It is located on top of two mountains, Cerro Tololo, which is 7,200
                                    feet (2,200 metres) high, and Cerro Pachon, which is 8,900 feet (2,700 metres) high; both mountains are about 285
                                    miles (460 km) north of Santiago and 50 miles (80 km) inland from the coastal city of La Serena. It is operated by
                                    the Association of Universities for Research in Astronomy and funded by the U.S. National Science Foundation.
                                </p>
                                <p>
                                    The CTIO houses several telescopes and auxiliary instruments, the most significant of which are the 26-foot
                                    (8-metre) Gemini South, the 13-foot (4-metre) Southern Observatory for Astrophysical Research Telescope, and the
                                    13-foot Victor M. Blanco Telescope. The observatory is best noted for its research on the central region of the
                                    Milky Way Galaxy, the Magellanic Clouds, and high-energy cosmic radio and X-ray sources.
                                </p>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
