<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mount Stromlo and Siding Spring Observatories</title>
    <link rel="stylesheet" type="text/css" href="/vendors/bootstrap3.4.1/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/app.css"/>
</head>
<body>
<div class="solar">
    <div class="grid">
        <h1>Observatory Location</h1>
        <div class="grid__row">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category__heading">
                        Category
                    </h3>

                    <ul class="category-list">
                        <li class="category-item category-item-active">
                            <a href="location1" class="category-item__link">Mount Stromlo & Siding Spring</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="location2" class="category-item__link">European Southern</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="location3" class="category-item__link">Cerro Tololo Inter-American</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="grid__column-10">
                <div class="solar-layout">
                    <div class="grid__row">

                        <div class="location_span">
                            <div class="location_map col-md-6">
                                <img src="https://www.space.fm/astronomy/images/content/1280px-Mauna_Kea_observatory.jpg" alt="Solar System Introduction" width="100%">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26044.733816355598!2d148.99296458191174!3d-35.316124819805424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b17b6aaf1fe7cdb%3A0xe8963ad8a9ad1662!2sMount%20Stromlo!5e0!3m2!1sen!2s!4v1647229967773!5m2!1sen!2s" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </div>
                            <div class="col-md-6 location_text">
                                <p>
                                    <b>Mount Stromlo and Siding Spring Observatories</b>, pair of astronomical observatories in southeast Australia that are
                                    operated by the Australian National University and that together constitute the most important facilities for such
                                    observation in the Southern Hemisphere.
                                </p>
                                <p>
                                    Mount Stromlo Observatory is situated at an elevation of 768 metres (2,520 feet) on Mount Stromlo, 10 km (6 miles)
                                    west of Canberra. It was founded in 1924 as a centre for solar studies but shifted its emphasis in the 1940s to
                                    stellar astronomy. Its main telescope is a 1.9-metre (74-inch) reflector. The Mount Stromlo Observatory’s viewing
                                    capability was threatened in the 1950s by the lights of the growing city of Canberra, and so a new site was established
                                    at an elevation of 1,165 metres (3,822 feet) on Siding Spring Mountain, about 31 km (19 miles) from Coonabarabran,
                                    New South Wales. On Jan. 18, 2003, a bushfire destroyed all five telescopes at Mount Stromlo. Rebuilding of some of the
                                    facilities began shortly thereafter.
                                </p>
                                <p>
                                    The Siding Spring Observatory was originally a field station for the Mount Stromlo site, but it has become in itself
                                    one of the most important optical observatories in the world. Its main telescope is the Anglo-Australian Telescope,
                                    which was jointly built by Australia and Great Britain and has been operated by them since 1975. The instrument is a
                                    3.9-metre (153-inch) reflector that has notably distortion-free optics and an extremely precise computer-controlled
                                    system for pinpointing and tracking celestial objects. The telescope is most useful for viewing distant cosmic objects
                                    of extremely faint luminosity. The Siding Spring Observatory also has the 2.3-metre (91-inch) Advanced Technology
                                    Telescope, which was built in 1984 and was designed to use new telescope technology. There are six other telescopes
                                    at Siding Spring, including the 1.2-metre (48-inch) Schmidt telescope, which is owned and operated by the United
                                    Kingdom Science Research Council. It has been used to extend the sky survey conducted by its sister instrument,
                                    the 1.2-metre (48-inch) Schmidt telescope at the Palomar Observatory, to the southern skies.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
