<div class="solar">
    <div class="grid">
        <h1>Observatory Location</h1>
        <div class="grid__row">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category__heading">
                        Category
                    </h3>

                    <ul class="category-list">
                        <li class="category-item category-item-active">
                            <a href="location/location1" class="category-item__link">Mount Stromlo & Siding Spring Observatories</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="location/location2" class="category-item__link">European Southern Observatory</a>
                        </li>
                        <li class="category-item category-item-active">
                            <a href="location/location3" class="category-item__link">Cerro Tololo Inter-American Observatory</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="grid__column-10">
                <div class="solar-layout">
                    <div class="grid__row">
                        <div class="location_item">
                            <a href="location/location1" class="solar-item">
                                <div>
                                    <img src="https://www.space.fm/astronomy/images/content/1280px-Mauna_Kea_observatory.jpg" alt="Solar System Introduction" width="300" height="310">
                                    <div class="solar-item__info">
                                        <h4 class="solar-item__name">Mount Stromlo and Siding Spring Observatories, pair of astronomical observatories
                                            in southeast Australia that are operated by the Australian National University and that together constitute
                                            the most important facilities for such observation in the Southern Hemisphere.</h4>
                                        <h1>Mount Stromlo and Siding Spring Observatories</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="location_item">
                            <a href="location/location2" class="solar-item">
                                <div>
                                    <img src="https://www.space.fm/astronomy/images/content/Parkes.arp.jpg" alt="Sun" width="300" height="310">
                                    <div class="solar-item__info">
                                        <h4 class="solar-item__name">Cerro Tololo Inter-American Observatory (CTIO), astronomical observatory
                                            founded in 1965 in Chile as the southern branch of the Kitt Peak National Observatory. It is located
                                            on top of two mountains, Cerro Tololo, which is 7,200 feet (2,200 metres) high, and Cerro Pachon, which
                                            is 8,900 feet (2,700 metres) high; both mountains are about 285 miles (460 km) north of Santiago and 50
                                            miles (80 km) inland from the coastal city of La Serena. It is operated by the Association of Universities
                                            for Research in Astronomy and funded by the U.S. National Science Foundation.</h4>
                                        <h1>Cerro Tololo Inter-American Observatory</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="location_item">
                            <a href="location/location3" class="solar-item">
                                <div>
                                    <img src="https://www.space.fm/astronomy/images/content/1024px-Sphinx_Observatory_Jungfraujoch_03.jpg" alt="mercury" width="300" height="310">
                                    <div class="solar-item__info">
                                        <h4 class="solar-item__name">European Southern Observatory (ESO), astrophysical organization founded in 1962.
                                            Its activities are financially supported and administered by a consortium of 14 European countries—Austria,
                                            Belgium, the Czech Republic, Denmark, Finland, France, Germany, Great Britain, Italy, the Netherlands,
                                            Portugal, Spain, Sweden, and Switzerland. ESO’s scientific, technical, and administrative headquarters are
                                            in Garching, Germany, near Munich.</h4>
                                        <h1>European Southern Observatory</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
