<div class="body">
    <div class="solar">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column-2">
                    <nav class="category">
                        <h3 class="category__heading">
                            TOPIC
                        </h3>


                        <ul class="category-list">
                            <li class="category-item category-item-active">
                                <form class="form-inline my-2 my-lg-0" action="/news" method="get">
                                    <button class="btn" type="submit" name="Title" value="">All</button>
                                </form>
                            </li>
                            <li class="category-item category-item-active">
                                <form class="form-inline my-2 my-lg-0" action="/news" method="get">
                                    <button class="btn" type="submit" name="Title" value="space">SPACE</button>
                                </form>
                            </li>
                            <li class="category-item category-item-active">
                                <form class="form-inline my-2 my-lg-0" action="/news" method="get">
                                    <button class="btn" type="submit" name="Title" value="sky this week">OBSERVING</button>
                                </form>
                            </li>
                            <li class="category-item category-item-active">
                                <form class="form-inline my-2 my-lg-0" action="/news" method="get">
                                    <button class="btn" type="submit" name="Title" value="Black Holes">BLACK HOLES</button>
                                </form>
                            </li>
                            <li class="category-item">
                                <form class="form-inline my-2 my-lg-0" action="/news" method="get">
                                    <button class="btn" type="submit" name="Title" value="Galaxy">GALAXIES</button>
                                </form>
                            </li>
                            <li class="category-item">

                            </li>
                        </ul>
                    </nav>
                </div>
                    <div class="grid__column-10">
                        <div class="solar-layout">
                            <div class="grid__row">
                                <%
                                for(var i=0;i<News.length;i++){%>
                                    <div class="grid__column-3_10">
                                        <a href="/news-detail-id=<%= News[i].IDnews %>" class="solar-item">
                                            <div class="solar-item__img">
                                                <img src="<%= News[i].Banner %>" width="300" height="310">
                                                <div class="solar-item__info">
                                                    <h4 class="solar-item__name">
                                                        <%= News[i].Summary %>
                                                    </h4>
                                                    <h1><%= News[i].Title %></h1>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                <%}%>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
