<head>
    <link rel="stylesheet" type="text/css" href="/vendors/bootstrap3.4.1/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/app.css"/>
</head>
<body>
    <div class="container cons_content">
        <h1 class="cons_headline">CAPRICORNUS, THE SEA-GOAT</h1>
        <p>
            Capricornus, the sea goat, bounds low across the southern sky in late summer and fall. Like all the
            constellations of the zodiac, Capricornus has as many mythological tales as it has stars. Capricornus gets
            its name from a Greek myth that says the god Pan was transformed into a half-goat, half-fish when he dived
            into the Nile River to escape the giant Typhon.
        </p>

        <img src="../images/conste/capricornus.jpg"/>

        <p>

            Capricornus looks like a large triangle of fairly bright stars. The brightest stars are side-by-side at the
            triangle's western tip. Farthest west is Giedi — the goat. Binoculars reveal that this is really two stars.
            Although the stars appear near each other, they're really separated by a thousand light-years. The closer of
            the two is about 115 light-years from Earth, while the other is 10 times farther. Just southeast of Giedi is Dabih,
            the slaughterer — a name that refers to sacrifices made by ancient Arabs when Capricornus rose at the same time as the Sun.
            It, too, consists of more than one star.
        </p>
    </div>
</body>