<head>
    <link rel="stylesheet" type="text/css" href="/vendors/bootstrap3.4.1/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/app.css"/>
</head>
<body>
    <div class="container cons_content">
        <h1 class="cons_headline">LEO,THE LION</h1>
        <p>
            The zodiacal constellation Leo, the lion, is one of a handful of constellations that really does look like its
            namesake. It consists of two patterns of stars that the brain puts together to make a lion. A backward question
            mark represents the head and mane, and a triangle of stars to the lower left forms the lion's hindquarters and
            tail. Look for Leo high in the south in April and May.
        </p>
        <img src="../images/leo.gif"/>

        <p>
            Leo's brightest star is blue-white Regulus, one of the brightest stars in the night sky. It is about 79 light-years away.
            Regulus rises almost due east, with the body of the lion following it into the sky over the next couple of hours. Once Regulus
            climbs into the sky, look to its left — toward the north — for the backwards question mark, known as the Sickle, that outlines
            his head and mane.
        </p>
        <p>
            About two hours later, look low in the east for Leo's tail — a white star named Denebola, which comes from an Arabic name that,
            appropriately enough, means "tail of the lion."
        </p>
        <p>
            At a distance of just 36 light-years, Denebola is a fairly close neighbor. Even so, the fact that we can see it at all means that
            Denebola is quite bright -- more than 10 times brighter than the Sun. Denebola's brightness is a product of its mass. The star is
            about twice as heavy as the Sun, so it "fuses" the hydrogen in its core at a much faster rate. That makes the star's surface thousands
            of degrees hotter than the Sun's. The combination of high temperature and large size makes Denebola outshine the Sun and all but a few
            percent of all the stars in the Milky Way galaxy.
        </p>
        <p>
            Denebola is surrounded by a disk of dust grains. It may be supplied with fresh material by collisions between small planet-building
            bodies. So far, no one has seen any evidence of planets around the star, although they can't be ruled out, either. Astronomers
            continue to hunt for companions to this bright stellar neighbor.
        </p>
        <p>
            Leo also contains quite a few bright galaxies. Leading the list are three galaxies that together form the Leo <b>Triplet</b>: M65, M66,
            and NGC 3628.
        </p>
        <p>
            NGC 3628 is the most interesting of the three. Like our own Milky Way, it's a spiral -- a pinwheel that spans at least a hundred
            thousand light-years. We see it edge-on, so it looks like a streak of light with lanes of dark dust running down the middle.
            Gravitational encounters with the other galaxies have triggered the birth of perhaps millions of new stars near the galaxy's center.
            They have pulled out a tail of gas that spans a quarter-million light-years. The tail contains enough gas to make half a billion
            stars as massive as the Sun. In fact, it has given birth to millions of stars in several large clumps.
        </p>
    </div>
</body>
