<head>
    <link rel="stylesheet" type="text/css" href="/vendors/bootstrap3.4.1/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/app.css"/>
</head>
<body>
    <div class="container cons_content">
        <h1 class="cons_headline">LIBRA,THE SCALES</h1>
        <p>
            Libra represents a balance scale. The name may come from the fact that the Sun passed across the face of
            the constellation at the time of the autumnal equinox in September, when day and night are of roughly equal
            length, so the heavens are "balanced."
        </p>
        <img src="../images/conste/libra.jpg"/>

        <p>
            Libra's brightest stars, however, are named for the next constellation over, Scorpius.
        </p>
        <p>
            The stars are Zubenelgenubi and Zubeneschamali, which are Arabic names that mean the southern and northern claws,
            respectively. In ancient times, the stars represented the scorpion's claws. By thousands of years ago, however, the
            claws had been snipped off and assigned to Libra instead. The timing of the split is unclear, although it dates at
            least to the days of ancient Rome.
        </p>
        <p>
            Zubenelgenubi actually consists of at least four stars, which are split into two close pairs. Three of the four
            are bigger and hotter than the Sun, while the fourth is smaller and cooler. All four appear to be about 200 million years old.
        </p>

        <img src="https://stardate.org/sites/default/files/images/libra%20gliese%20581.jpg">
        <figcaption><b>An artist's concept shows three of the planets known to orbit Gliese 581</b></figcaption>

        <p>
            Libra is also home to a star system that contains six planets or more, including one that is in an orbit where conditions are suitable for
            liquid water, which is a key ingredient for life. The star, Gliese 581, is a red dwarf, which means it is much smaller, fainter, and
            cooler than the Sun. The lightest of the planets is only about twice the mass of Earth. It is so close to the star, though, that it's
            much too hot for water. The planet Gliese 581d, however is inside the star's habitable zone, which is the distance where conditions are
            just right for liquid water. That makes Gliese 581d one of the first "water worlds" yet discovered.
        </p>
    </div>
</body>