<head>
    <link rel="stylesheet" type="text/css" href="/vendors/bootstrap3.4.1/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/app.css"/>
</head>
<body>
    <div class="container cons_content">
        <h1 class="cons_headline">SCORPIUS,THE SCORPION</h1>
        <p>
            Three bright stars form the "head" of Scorpius, the celestial scorpion, while its tail curves away below
            it in the southern sky of summer.
        </p>
        <img src="../images/conste/scorpius.jpg"/>

        <p>
            The brightest star in Scorpius is Antares, which is in the middle of the scorpion's curving body. This brilliant
            red star is one of the behemoths of our stellar neighborhood. If you placed it at the center of our own solar system,
            it would swallow Mercury, Venus, Earth, and Mars, and almost reach Jupiter.
        </p>
        <p>
            <b>Antares</b> is at least 15 times as massive as the Sun. The pressure in the centers of such stars makes them extremely hot.
            The heat allows chemical elements to fuse together to make heavier ones. So by the end of its life, Antares will have
            built up an iron core surrounded by layers of oxygen, carbon, silicon, and other elements. And at the end of its life,
            Antares will explode as a supernova. The extreme heat of the blast will produce elements that are even heavier than iron
            — elements like lead, uranium, and gold.
        </p>
        <p>
            The explosion will hurl these elements outward at a few percent of the speed of light. Eventually, some of the debris
            may ram into clouds of cold gas and dust, squeezing them and causing them to collapse and give birth to new stars and
            planets. These newborn objects will be seeded with the elements created by the supernova.
        </p>
        <p>
            Because Scorpius lies along the path of the Milky Way, it is speckled with bright star clusters and nebulae, including
            the clusters M6 and M7, which are above the two stars that mark the scorpion's stinger.
        </p>
        <p>
            M7 is the brighter of the two. It is almost 1,000 light-years away, and its several hundred stars all are about 200 million
            to 300 million years old. Several of its stars are nearing the ends of their lives, so they have puffed up to gigantic proportions,
            helping M7 stand out.
        </p>
        <p>
            M6 is farther than M7, so it doesn’t look as big or bright, so you need dark skies to see it without optical aid. Through
            binoculars or a telescope, the cluster’s colorful stars form a pattern that resembles the outline of a butterfly.
        </p>
    </div>
</body>