<head>
    <link rel="stylesheet" type="text/css" href="/css/app.css"/>
</head>
<body>
    <div class="container cons_content">
        <h1 class="cons_headline">TAURUS,THE BULL</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="https://images-na.ssl-images-amazon.com/images/I/417QDEy7LVL._SX258_BO1,204,203,200_.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../images/conste/taurus.jpg" alt="Second slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <p>
            Taurus, the bull, is marked by a V-shaped pattern of stars that outlines the bull's face. Bright red Aldebaran, the "eye" of the bull, stands at one point of the V. This pattern is part of a cluster of stars called the Hyades — the second-closest star cluster to Earth.
            It consists of several hundred stars that lie about 130 light-years away.
        </p>

        <p>
            Aldebaran outshines all the other stars that outline the bull's face. But Aldebaran isn't
            a member of the Hyades cluster — it just lies in the same direction. It's about 70 light-years away,
            half as far as the stars of the Hyades. Aldebaran is a red-giant — an old, bloated star that's used up most
            of its nuclear fuel. It's much larger and much brighter than our own middle-aged Sun.
        </p>

        <p>
            A number of features exist that are of interest to astronomers. Taurus hosts two of the nearest open clusters to Earth,
            the Pleiades and the Hyades, both of which are visible to the naked eye. At first magnitude, the red giant Aldebaran is
            the brightest star in the constellation. In the northeast part of Taurus is the supernova remnant Messier 1, more commonly
            known as the Crab Nebula. One of the closest regions of active star formation, the Taurus-Auriga complex, crosses into the
            northern part of the constellation. The variable star T Tauri is the prototype of a class of pre-main-sequence stars.
        </p>
    </div>
</body>