<head>
    <link rel="stylesheet" type="text/css" href="/vendors/bootstrap3.4.1/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/app.css"/>
</head>
<body>
    <div class="container cons_content">
        <h1 class="cons_headline">TAURUS,THE BULL</h1>
        <p>
            Taurus, the bull, is marked by a V-shaped pattern of stars that outlines the bull's face. Bright red Aldebaran, the "eye" of the bull, stands at one point of the V. This pattern is part of a cluster of stars called the Hyades — the second-closest star cluster to Earth.
            It consists of several hundred stars that lie about 130 light-years away.
        </p>
        <img src="../images/conste/taurus.jpg"/>

        <p>
            Aldebaran outshines all the other stars that outline the bull's face. But Aldebaran isn't
            a member of the Hyades cluster — it just lies in the same direction. It's about 70 light-years away,
            half as far as the stars of the Hyades. Aldebaran is a red-giant — an old, bloated star that's used up most
            of its nuclear fuel. It's much larger and much brighter than our own middle-aged Sun.
        </p>
    </div>
</body>